<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="public\UserCredentialsValidation.css">
</head>
<body>
	<div class="container">
		<div class="main">
		<h2>Sign Up</h2>
		<form id="form_id" action="/UserCrendentialsSave" method="post" name="myform">
		<label>First Name :</label>
		<input type="text" name="firstname" id="firstname"/>
		<label>Last Name :</label>
		<input type="text" name="lastname" id="lastname"/>
		<label>Email :</label>
		<input type="text" name="email" id="email"/>
		<label>User Name :</label>
		<input type="text" name="username" id="username"/>
		<label>Password :</label>
		<input type="text" name="password" id="password"/>
		<input type="submit" value="Submit">
		</form>
		</div>
		<h2>Sign in</h2>
		<form id="form_id" action="/UserCrendentialsValidation" method="post" name="myform">
		<label>User Name :</label>
		<input type="text" name="username" id="username"/>
		<label>Password :</label>
		<input type="text" name="password" id="password"/>
		<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>